
{{#books}}
    <article>
        <div class="titleAuthorDiv">
            <h2 class="title">{{title}}</h2>
            <h2 class="author"> by {{author}}</h2>
        </div>
        <img src="{{book_image}}" class="bookImage">
    </article>

{{/books}}

        <!--{{#each books}}-->
<!--{{this.author}}-->
        <!--{{/each}}-->