<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <a href="/books"><button class="viewButton">CLICK HERE TO <br> VIEW THE BEST SELLERS!</button></a>
  </body>
</html>
